.work-in-progress{
    margin: 3% 25% 3% 25%;
}

.work-in-progress .card.is-wide {
    width: 550px;
}


.work-in-progress .card.has-text-centered .card-content{
    justify-content: center;
    align-items: center;
}

.work-in-progress .card.has-text-centered h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

.work-in-progress .card-content {
    padding: 3.5rem 0;
}

.div-centered{
    margin: 0 5% 0 5%;
}

h2{
    font-size: 1.4rem;
}