/* couleurs tableau : Gris plus foncé : #CCCCC Gris plus clair : E0DEDE
/* Paragraphe Accueillir*/
html {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 20px;
}
p{
  margin-left: 20px;
}
.accueillir h2{
    background-color: #E05257;
}
/* Paragraphe Informer*/
.informer h2{
    background-color: #E37A30;
}

/* Paragraphe Lutter*/
.lutter h2{
    background-color: #6BE059;
}

/* Paragraphe Soutenir*/
.soutenir h2{
    background-color: #993FD1;
}

.soutenir {
  margin-bottom: 60px;
}

/* espacement entre mes p*/

.main-nous-rejoindre{
    margin: 2% 20% ;
}

/* mise en forme de mes titres*/
h2{
    font-size: 1em;
    color: white;
    text-transform: uppercase;

    padding: 5px 0 5px 5px;
    margin: 10px 0 15px 0;
}

/* Tableau avec formule d'abonnement */
tr {
  border-bottom: solid 1px white;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
    }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th,
  td {
    padding: 20px;
  }

  thead th {
    background-color: #CCCC;
}

#formule{
    text-align: left;
  }

#montant{
    text-align: right;
  }

tbody th{
    font-weight: normal;
    text-align: left;
}

tbody tr {
    background-color: #E0DEDE;
    text-align: right;
}

.tableau {
  border-spacing: 10px;
}