/* Styles for the Scroll to Top Button */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  border: 2px solid #007BFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#scrollToTopBtn svg {
  width: 30px;
  height: 30px;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}

#scrollToTopBtn.show {
  opacity: 1;
}
